:host {
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  padding: 20px;
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 16px;
}

.post-body {
  display: grid;
  gap: 12px;
}

.post__author {
  color: var(--light-color);
  font-size: 14px;
  font-stretch: normal;
  font-weight: 700;
  line-height: 21px;
}

.post-created-at {
  color: var(--light-transparent-color);
}

.comment-amount {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-color);
}

.comments-length {
  font-size: 12px;
  font-stretch: normal;
  font-weight: 700;
  line-height: 16px;
}

.post__comments-wrapper {
  max-height: 150px;
  overflow-y: scroll;
  display: grid;
  gap: 8px;
  padding: 8px 0;
}
