.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.to-settings-button {
  width: 190px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.to-settings-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}
