:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.login-form {
  width: 440px;
}

.login-form,
.big-logo {
  place-self: center;
}

.password-input {
  position: relative;
}

.password-eye-button {
  position: absolute;
  top: 50%;
  right: 12px;
  cursor: pointer;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ffffffbf;
  &.active {
    color: var(--primary-color);
  }
}
