.mb4 {
  margin-bottom: 4px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.ml16 {
  margin-left: 16px;
}
.mb32 {
  margin-bottom: 32px;
}

.stack-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
